@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

$color-primary: #1a6b96;
$color-secondary: #1cffff;
$color-special: #20bdff;

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: $color-primary;
  font-style: italic;
}

header {
  @extend %background-image;
  min-height: 100vh;
  width: 100vw;
  background-image: url(/public/images/background/Sheikah-Frame-Art.png);
  display: flex;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  font-style: normal;
  z-index: 99;

  h1 {
    color: $color-special;
    font-size: clamp(1.25rem, 3vh, 1.875rem);
    font-weight: 400;
    text-shadow: 0 0 10px $color-special, 0 0 30px $color-special;
    position: fixed;
    top: 3.65vh;
  }
}

main {
  @extend %background-image;
  min-height: 100vh;
  width: 100vw;
  background-image: url(/public/images/background/Background-Texture-Dark.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .categories-container {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    margin-inline: 2rem;
    transform: scale(0.75);

    @media only screen and (min-width: 450px) {
      transform: scale(0.9);
    }

    @media only screen and (min-width: 500px) {
      transform: scale(1);
    }

    @media only screen and (min-width: 600px) {
      gap: 1rem;
    }

    .categories.is-active {
      text-shadow: 0px 1px 11px #0a8dd7, 0px 0px 10px #4fc0ff;
      color: #1cffff;

      svg {
        fill: #1cffff;

        path {
          filter: drop-shadow(0px 1px 11px #0a8dd7, 0px 0px 10px #4fc0ff);
        }
      }
    }

    .categories {
      display: grid;
      text-align: center;
      text-shadow: 0 0 5px #005b9d;
      transition: all 500ms ease-in-out;
      cursor: pointer;

      .categories-name {
        font-size: 1.25rem;
        font-weight: 400;
      }

      svg {
        fill: $color-primary;
        transition: fill 500ms ease-in-out;

        path {
          filter: drop-shadow(0px 0px 5px #005b9d);
          transition: filter 500ms ease-in-out;
        }
      }

      &:hover,
      &:focus {
        text-shadow: 0px 1px 11px #0a8dd7, 0px 0px 10px #4fc0ff;
        color: $color-secondary;

        svg {
          fill: $color-secondary;

          path {
            filter: drop-shadow(0px 1px 11px #0a8dd7, 0px 0px 10px #4fc0ff);
          }
        }
      }
    }
  }
}

@import "list";

.container {
  height: 100vh;
}
